header.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--black-0);
}

header.mobile-header .home-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
}

header.mobile-header .logo-text {
  font-family: "dxpop";
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

header.mobile-header .header-content {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: end;
  align-items: center;
}

header.mobile-header .header-content > p {
  font-size: 0.7rem;
  color: var(--black-5);
  text-align: end;
  width: 100%;
}

header.mobile-header .benefix-input {
  width: 100%;
  position: relative;
}

header.mobile-header .benefix-input .icon {
  color: var(--black-3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

header.mobile-header .benefix-input > input {
  background-color: var(--black-1);
  outline: none;
  padding: 12px 16px;
  border-radius: 8px;
  width: 100%;
  font-size: 12px;
  color: var(--black-3);
}

header.mobile-header .benefix-input > input::placeholder {
  color: var(--black-3);
  opacity: 1; /* Firefox에서 투명도 기본값 제거 */
  font-size: 12px;
}

header.mobile-header .benefix-input > input:focus {
  outline: none;
}
