header.pc-header {
  width: 100%;
  border-bottom: 1px solid #eee;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black-0);
}

header.pc-header .nav {
  max-width: 1200px;
  height: min(12vh, 88px);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.pc-header .logo p {
  color: #0052e9;
  font-size: 40px;
  font-weight: bold;
  font-family: "dxpop";
}

header.pc-header .navList {
  list-style: none;
  display: flex;
  gap: 40px;
  font-family: "pre-semibold";
}

header.pc-header .navList a {
  text-decoration: none;
  color: #b7bbcf;
  font-size: 24px;
}

header.pc-header .navList a:hover {
  color: #0052e9;
  font-weight: 600;
}

header.pc-header .navList a.active {
  color: #0052e9;
  font-weight: 600;
}
