.home-container {
  max-width: 1200px;
  margin: 0 auto;
}

.grid-section {
  margin-top: 60px;
  padding: 40px 20px;
}

.grid-title {
  font-size: 36px;
  font-weight: bold;
  text-align: start;
  margin-bottom: 40px;
}

.span-domo-blue {
  color: #0052e9;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.grid-item {
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
}

.grid-item-image {
  height: 200px;
  background-color: #f0f0f0;
}

.grid-item-info {
  padding: 20px;
}

.grid-item-info h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.grid-item-info p {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags span {
  background-color: #e7f3ff;
  color: #007bff;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.load-more-button {
  display: block;
  margin: 60px auto 0;
  padding: 32px 40px;
  font-size: 28px;
  font-weight: bold;
  background: #98cdff;
  background: linear-gradient(
    90deg,
    rgba(152, 205, 255, 1) 0%,
    rgba(0, 82, 233, 1) 100%
  );
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: end;
}

.load-more-button:hover {
  background-color: #0056b3;
}
