/* ============= */
/*    PC 스타일   */
/* ============= */
.recsResultPageMain .recsResultPage {
  display: flex;
  width: 100%;
  height: calc(100vh - min(12vh, 89px));
  overflow: hidden;
}

.recsResultPageMain .recsResult_list {
  width: 36%;
  max-width: 640px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
  background-color: var(--black-0);
}

.recsResultPageMain .recsResult_header {
  margin-bottom: clamp(0.5vw, 1vw, 2.5rem);
}

.recsResultPageMain .recsResult_back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.recsResultPageMain .recsResult_back-button .logo-text {
  font-family: "dxpop";
  font-size: 24px;
  font-weight: bold;
  margin-left: 5px;
}

.recsResultPageMain .list_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: clamp(0.5vw, 1vw, 2.5rem);
}

.recsResultPageMain .list_header_title {
  font-size: clamp(1.5rem, 1.4vw, 2.5rem);
  font-weight: 600;
  line-height: 1.4;
}

.recsResultPageMain .list_header_title span {
  color: var(--main-color);
}

.recsResultPageMain .list_header_backBtn {
  background-color: var(--point-color-2);
  border: none;
  max-width: 124px;
  max-height: 56px;
  padding: 2rem 0;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  font-weight: 600;
  color: var(--point-color-2-2);
  font-family: "pre-semibold";
}

.recsResultPageMain .list_header_backBtn:hover {
  background-color: var(--point-color-2);
  color: var(--point-color-2-2);
}

.recsResultPageMain .list_items {
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.recsResultPageMain .list_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
}

.recsResultPageMain .item_number {
  font-size: 40px;
  font-weight: 400;
  margin-right: 16px;
  flex: 0.01;
  color: var(--main-color);
  font-family: "pre-regular";
}

.recsResultPageMain .item_card {
  cursor: pointer;
  display: flex;
  flex: 0.95;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.recsResultPageMain .item_card:hover {
  background-color: whitesmoke;
}

.recsResultPageMain .item_content {
  display: flex;
  padding: 20px;
  flex-grow: 1;
  align-items: center;
  height: 100%;
  width: 100%;
}

.recsResultPageMain .item_img {
  width: clamp(3rem, 4vw, 6rem);
  height: clamp(3rem, 4vw, 6rem);
  border-radius: 50%;
  font-size: clamp(1.4rem, 2vw, 2.5rem);
  background-color: var(--point-color-2);
  color: var(--point-color-2-2);
  margin-right: 18px;
  flex-shrink: 0;
}

.recsResultPageMain .item_info {
  flex-grow: 1;
}

.recsResultPageMain .item_name {
  font-weight: 600;
  font-size: clamp(1.2rem, 1.25vw, 1.5rem);
  margin-bottom: 6px;
  font-family: "pre-semibold";
  color: #2c2f33;
}

.recsResultPageMain .item_address {
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  color: #b7bbcf;
  margin-bottom: 12px;
  font-family: "pre-medium";
}

.recsResultPageMain .item_benefit {
  font-size: clamp(0.8rem, 0.9vw, 1rem);
  background-color: #dbeeff;
  color: var(--main-color);
  border-radius: 12px;
  display: inline-block;
  font-family: "pre-regular";
  padding: 10px;
}

.recsResultPageMain .item_dots {
  background-color: #eff0f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  height: 100%;
  width: clamp(3rem, 4vw, 4rem);
  border-radius: 20px;
  margin-left: 16px;
}

.recsResultPageMain .item_dots:hover {
  background-color: #e6e8f5;
}

.recsResultPageMain .item_dots span {
  width: 6px;
  height: 6px;
  background-color: #b7bbcf;
  border-radius: 50%;
}

.recsResultPageMain .list_footer {
  padding-top: clamp(3vh, 5vh, 8vh);
}

.recsResultPageMain .list_footer-btn {
  color: white;
  background-color: var(--main-color);
  width: 100%;
  height: 12vh;
  max-height: 88px;
  border-radius: 20px;
  font-size: clamp(1.2rem, 1.5vw, 2rem);
  font-family: "pre-semibold";
  font-weight: 600;
  cursor: pointer;
}

.recsResultPageMain .list_footer-btn:hover {
  background-color: #004690;
}

.recsResultPageMain .recsResult_map {
  flex-grow: 1;
}

.recsResultPageMain .recsResult_fallback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.recsResultPageMain .recsResult_fallback p {
  font-size: 24px;
  color: #333;
  margin-bottom: 24px;
}

.recsResultPageMain .recsResult_fallback button {
  padding: 12px 26px;
  font-size: 18px;
  font-weight: bold;
  background-color: var(--main-color);
  color: var(--black-0);
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.recsResultPageMain .recsResult_fallback button:hover {
  background-color: #0056b3;
}

.recsResultPageMain > .recsResultPage {
  margin-top: min(12vh, 89px);
}

/* ============= */
/*  모바일 스타일  */
/* ============= */
@media screen and (max-width: 1024px) {
  .recsResultPageMain + header {
    display: none;
  }
  .recsResultPageMain .recsResult_list {
    width: 100%;
    max-width: 100%;
  }
}

.isMobile {
  width: 100%;
  height: calc(100vh - min(12vh, 89px)) !important;
  overflow: hidden !important;
}

.recsResultPageMain .isMobile .recsResult_header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.recsResultPageMain .isMobile .recsResult_map {
  z-index: 95;
  position: absolute;
  top: 67px;
  left: 0;
  width: 100%;
  height: 60vh;
}

.recsResultPageMain .isMobile .recsResult_resizable {
  z-index: 997 !important;
  width: 100% !important;
  position: absolute !important;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.recsResultPageMain .isMobile .recsResult_resizable > div {
  background-color: var(--black-0);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.2);

  overflow: hidden;
}

.recsResultPageMain .isMobile .recsResult_resizable .recsResult_resizable_controller {
  width: 25%;
  height: 4px;
  border-radius: 999;
  margin: 12px auto;
  background-color: var(--black-2);
}

.recsResultPageMain .isMobile .recsResult_list {
  padding: 1rem 24px;
}

.recsResultPageMain .isMobile .list_header_title {
  font-size: 1.4rem;
  font-family: "pre-semibold";
}

.recsResultPageMain .isMobile .list_header_backBtn {
  background-color: var(--point-color-2);
  border: none;
  width: 25%;
  height: 56px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  color: var(--point-color-2-2);
  font-family: "pre-semibold";
}

.recsResultPageMain .isMobile .list_items {
  overflow-y: auto;
  max-height: 45vh;
}

.recsResultPageMain .isMobile .list_item .item_number {
  font-size: 1.6rem;
  flex: 0.1;
}

.recsResultPageMain .isMobile .list_item .item_card .item_content {
  padding: 10px 20px;
  flex: 1;
}

.recsResultPageMain .isMobile .list_item .item_card .item_img {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--point-color-2-2);
  width: 56px;
  height: 56px;
}

.recsResultPageMain .isMobile .list_item .item_dots {
  width: 45px !important;
}

.recsResultPageMain .isMobile .list_item .item_card .item_content,
.recsResultPageMain .isMobile .list_item .item_dots {
  min-height: 135px;
  max-height: 145px;
}

.recsResultPageMain .isMobile .list_item .item_card .item_info .item_name {
  font-size: 1rem;
}

.recsResultPageMain .isMobile .list_item .item_card .item_info .item_address {
  font-size: 0.8rem;
}

.recsResultPageMain .isMobile .list_item .item_card .item_info .item_benefit {
  padding: 8px 12px;
  font-size: 0.8rem;
}

.recsResultPageMain .isMobile .list_footer-btn {
  color: white;
  background-color: var(--main-color);
  width: 90%;
  height: 8vh;
  border-radius: 20px;
  font-size: 24px;
  font-family: "pre-semibold";
  font-weight: 600;
  cursor: pointer;

  position: absolute;
  left: 50%;
  bottom: 5vh;
  transform: translateX(-50%);

  z-index: 999;
}

/* ============= */
/*  튜토리얼 스타일 */
/* ============= */

/* PC 튜토리얼 */
.recsResultPageMain .firstVisitMode {
  position: relative;
  z-index: 999;
  /* overflow: hidden; */
}

.recsResultPageMain .firstVisitModeBg {
  overflow-x: visible !important;
  overflow: visible !important;
}

.recsResultPageMain .recsResultPage .firstVisitModeBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.recsResultPageMain .firstVisitModeBg.list_items .list_item:not(.firstVisitMode) {
  filter: brightness(0.5) grayscale(0.2);
  opacity: 0.7;
}

.recsResultPageMain .firstVisitModeBg.list_items .list_item {
  pointer-events: none;
  user-select: none;
}

.recsResultPageMain .firstVisitModeSkip {
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  width: 5vw;
  height: 2.5vw;
}

/* PC 튜토리얼 설명 공통 */
.recsResultPageMain .firstVisitModeDesc0,
.recsResultPageMain .firstVisitModeDesc1,
.recsResultPageMain .firstVisitModeDesc2 {
  position: absolute;
  font-size: 0.8rem !important;
  color: var(--black-4) !important;
  font-family: "pre-regular" !important;
  text-align: center;
  padding: 1rem;
  background-color: var(--black-1);
  border-radius: 16px;
}

/* PC 튜토리얼 설명 위치 */
.recsResultPageMain .firstVisitModeDesc0 {
  right: -40%;
}

.recsResultPageMain .firstVisitModeDesc1 {
  right: -160%;
  top: 0px;
}

.recsResultPageMain .firstVisitModeDesc2 {
  left: 50%;
  transform: translateX(-50%);
  top: -100%;
}

/* PC 튜토리얼 뿔 */
.recsResultPageMain .firstVisitModeDesc0::before,
.recsResultPageMain .firstVisitModeDesc1::before {
  content: "";
  position: absolute;
  left: -10px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid var(--black-1);
}

.recsResultPageMain .firstVisitModeDesc2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--black-1);
}

/* 모바일 튜토리얼 */
.recsResultPageMain .isMobile .firstVisitModeBg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.recsResultPageMain .isMobile .firstVisitModeBg {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.recsResultPageMain .isMobile .firstVisitMode {
  overflow: visible !important;
}

.recsResultPageMain .isMobile .firstVisitModeBg .list_item:not(.firstVisitMode) {
  filter: brightness(0.5) grayscale(0.2);
  opacity: 0.7;
}

.recsResultPageMain .isMobile .firstVisitModeBg .list_item {
  pointer-events: none;
  user-select: none;
}

.recsResultPageMain .isMobile .list_items.firstVisitModeBg {
  overflow-y: visible;
}

.recsResultPageMain .isMobile .firstVisitModeSkip {
  position: absolute;
  right: 3vw;
  top: 50%;
  transform: translateY(-50%);
  width: 26%;
  font-size: 0.8rem;
  background-color: var(--point-color-1);
  line-height: 0;
  border-radius: 12px;
  padding: 1rem;
}

/* 모바일 튜토리얼 설명 위치 */
.recsResultPageMain .isMobile .firstVisitModeDesc0 {
  right: 24px;
  top: 50px;
  z-index: 999;
}

.recsResultPageMain .isMobile .firstVisitModeDesc1 {
  min-width: 210px;
  right: 24px;
  top: 78px;
  z-index: 999;
}

.recsResultPageMain .isMobile .firstVisitModeDesc2 {
  left: 50%;
  min-width: 240px;
  transform: translateX(-50%);
  top: -120%;
}

/* 모바일 튜토리얼 뿔 */
.recsResultPageMain .isMobile .firstVisitModeDesc0::before {
  content: "";
  position: absolute;
  right: 8px !important;
  left: unset !important;
  bottom: -20px !important;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--black-1);
}

.recsResultPageMain .isMobile .firstVisitModeDesc1::before {
  content: "";
  position: absolute;
  right: 8px !important;
  left: unset !important;
  top: -20px !important;
  bottom: unset !important;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--black-1);
}

.recsResultPageMain .isMobile .firstVisitModeDesc2::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid var(--black-1);
}

/* ============= */
/*    공통 유틸   */
/* ============= */
.recsResultPageMain .none {
  display: none;
}
